/*.homepage {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-wrap: wrap;*/
/*    width: 800px;*/
/*    align-items: center;*/
/*    margin: 0 auto;*/
/*}*/

/*.chat {*/
/*    border: 1px solid black;*/
/*    width: 70%;*/
/*    height: 700px;*/
/*    overflow-y: scroll;*/
/*    padding: 10px;*/
/*    margin: 20px auto;*/
/*}*/

/*.message {*/
/*    margin-top: 20px;*/
/*}*/

/*.messageText {*/
/*    width: fit-content;*/
/*    color: white;*/
/*    border-radius: 10px;*/
/*    padding: 2px 10px;*/
/*}*/

/*#user1 > span {*/
/*    background-color: cornflowerblue;*/
/*}*/

/*#user2 > span {*/
/*    background-color: indianred;*/
/*}*/

/*.btn {*/
/*    background-color: black;*/
/*    color: white;*/
/*    border-radius: 5px;*/
/*    width: 100px;*/
/*    height: 25px;*/
/*}*/

/*.btn:hover {*/
/*    background-color: blue;*/
/*}*/
.switcher{
    padding-top: 7px;
}

*{
    box-sizing: border-box;
}
body{
    transition: background 0.8s linear;
    background-color:#F6F6F6;
}
body.dark{
    background-color: #292C35;
    color: gray;
}

.label{
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 26px;
    width: 50px;
    border-radius: 50px;
    position:relative;

}
.ball{
    width: 22px;
    height: 22px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    transition: transform 0.2s linear;

}
.checkbox{
    opacity: 0;
    position: absolute;
}
.checkbox:checked + .label .ball{
    transform: translateX(24px);
}
.fa-moon{
    color: goldenrod;
}
.fa-sun{
    color: goldenrod;
}
#jumbo{
    margin-top: 250px;
    background-color: transparent;
}
#name{
    margin-bottom: 30px;
}
#chatBox{
    height: 600px;
}
#firstCont{
    background-color: transparent;
}
#secondCont{
    background-color: transparent;
    margin-bottom:150px;
}
.firstContPos{
    bottom: 500px;
    z-index: -1;
}
.secondContPos{
   top: 500px;
}
#btn{
    margin-top: 60px;
}
.chatButtons{
    margin-left: 30px;
}
.btn.dark{
    background-color: #FFD5D5;
    color:#292C35;
}
.btn.darkLink{
    background-color: #FFD5D5;
    padding: 10px 20px;
    font-size: 20px;
}
.darkBox{
    background-color: #FAFAFA;
}
#downloadBtn{
    margin-right: 30px;
}
#bg{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
#downloadLink{
    color:#292C35;
    font-size: 20px;
}



